﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - src</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="manifest" href="/manifest.json">
    <meta name="description" content="Mauricio Blog">

</head>
<body>
    <div style="display:none; padding: 5px; text-align:center;" id="install-container">
        <button onclick="pageEvents.tryAddHomeScreen();" class="btn-link no-style">Clique aqui</button>
        e adicione Mauricio Blog na sua home!
    </div>
    <div id="notification-subscribe-section" style="display:none; padding: 5px; text-align:center;">
        <button class="btn-link no-style" onclick="pageEvents.requestPushPermission();">Clique aqui</button> para receber notificações quando novos artigos forem publicados
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">src</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - src - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/es6-promise/es6-promise.js"></script>
    <script src="~/lib/fetch/fetch.js"></script>
    <script src="~/lib/systemjs/system.js"></script>
    <script src="~/lib/localforage/localforage.min.js"></script>
    <script src="~/lib/localforage/localforage-getitems.js"></script>
    <script src="~/lib/localforage/localforage-setitems.js"></script>
    <script src="~/js/site.js" asp-append- version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
